body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.card {
  text-align: center;
  border: #6b5b95 solid 1px;
  padding: 0.5rem;
  width: 13rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #6b5b95;

}

div.card p {
  font-size: small;
}

div.card button {
  background-color: #d5e1df;
}

div.card button:hover {
  background-color: #6b5b95;
  opacity: 0.8;
}

img.teamLogo {
  width: 5rem;
  height: 5rem;
}

div.myTeamHeader {
  display: flex;
  margin: 15px;
}

div.homepageHeader {
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.homepageHeader h1 {
  text-align: center;
  margin-bottom: 30px
}

.searchForm {
  float: left;
  display: flex;
  height: 20px;
  margin-left: 100px;
}

div.playerContainer {
  text-align: center;
}

.saveTeamButton {
  float: right;
}

.navBar {
  text-align: center;
  margin-bottom: 30px;
}

.Login {
  padding: 40px;
  position:relative;
}

.Login input {
  width: 350px;
}

.filter {
  display: block;
  margin: 0 auto;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink {
  display: inline-block;
  width: 100px;
  padding: 10px;
  margin: 0 6px 6px;
  background-color: #d5e1df;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 14px;
}

.saveTeamButton {
  margin-left: 100px
}

.playersTable {
  table-layout: fixed;
  border-collapse: collapse;
  width: 50%;
  height: 330px;
  text-align: center;
}

.teamForm {
  margin-top: 30px;
  margin-bottom: 20px;
}

.tableHead {
  background-color: #878f99;
}

.tableBody {
  background-color: #d5e1df;
}

.webpageHeader {
  text-align: center;
  background-color: #6b5b95;
}

.savedTeams {
  text-align: center;
}

.playerListItem {
  list-style: none;
  text-align: center;
}

#total {
  text-align: right;
}
