body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.card {
  text-align: center;
  border: grey solid 1px;
  padding: 0.5rem;
  width: 13rem;
  height: 15rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px blue;
}

div.card p {
  font-size: small;
}

div.card button {
  background-color: #a2b9bc;
}

div.card button:hover {
  background-color: blue;
  opacity: 0.8;
}

img.teamLogo {
  width: 5rem;
  height: 5rem;
}

div.myTeamHeader {
  display: flex;
  margin: 15px;
}

div .homepageHeader {
  margin-bottom: 30px
}

.homepageHeader h1 {
  text-align: center;
}

form.searchForm {
  float: left;
  display: flex;
  height: 20px;
}

div.filter {
  float: left;
  display: flex;
  margin-bottom: 25px;
  height: 20px;
}

div.playerContainer {
  text-align: center;
}

.saveTeamButton {
  float: right;
}

.navBar {
  text-align: center;
}

.Login {
  border: 2px solid black;
  padding: 40px;
  width: 200px;
  height: 200px;
  position:relative;
}

.navLink {
  display: inline-block;
  width: 90px;
  padding: 10px;
  margin: 0 6px 6px;
  background: white;
  border: 2px solid red;
  text-decoration: none;
  color: red;
  text-align: center;
  font-size: 14px;
}

.saveTeamButton {
  margin-left: 100px
}

.playersTable {
  table-layout: fixed;
  border: 3px solid purple;
  border-collapse:collapse;
  width: 50%;
  height: 350px;
  text-align: center;
  
}